
$font-main: 'roboto';
$weight-100: 100;
$weight-300: 300;
$weight-400: 400;
$weight-700: 700;
$color-100:#ffffff;
$color-200: #F5F4FF;
$color-400: #2306FD;
$color-500: #1501A7;
$color-600: #44009C;
$color-text-100: #FFFFFF;
$color-text-400: #5A5580;
$color-text-500: #1501A7;


*, html {
    box-sizing: border-box;
}

/*reset*/
h1, p, li, ul, h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
/* end */

.wrapper {
    width: 336px;
    height: 1824px;
    display: grid;
    margin: 0 auto;

    grid: repeat(39, 1fr) / repeat(7, 1fr)
}


.balance {
    grid-area: 1 / 1 / span 5 / span 7;
    border: 1px solid black;
}

.Payment-due {
    grid-area: 7 / 1 / span 4 / span 7;
    border: 1px solid black;
}

.Activities {
    grid-area: 12 / 1 / span 15 / span 7;
    border: 1px solid black;
}

.Summary {
    grid-area: 29 / 1 / span 11 / span 7;
    border: 1px solid black;
}